{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    {% for blog in blogs %}
        <div class="media">
            <div class="media-left">
                <a href="{{ path('blog', {id: blog.id }) }}" title="{{ blog.name }}">
                    <img class="media-object" src="#" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ blog.name }}</h4>
                <p>{{ blog.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}


