{% for flashMessage in app.session.flashbag.get('notice') %}
    <p class="bg-primary">{{ flashMessage }}</p>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <p class="bg-danger">{{ flashMessage }}</p>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <p class="bg-success">{{ flashMessage }}</p>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('warning') %}
    <p class="bg-warning">{{ flashMessage }}</p>
{% endfor %}