{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    {% for notebook in notebooks %}
        <div class="media">
            <div class="media-left">
                <a href="{{ path('notebook', {id: notebook.id }) }}" title="{{ notebook.name }}">
                    <img class="media-object" src="#" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ notebook.name }}</h4>
                <p>{{ notebook.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}


