{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    {% for notebook in notebooks %}
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"><a href="{{ path('notebook', {id: notebook.id}) }}" title="">{{ notebook.name }}</a></h4>
                <p>{{ notebook.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
